@tailwind base;
@tailwind components;
@tailwind utilities;


img {
    max-height: 100%;
}

input,
textarea {
    @apply border border-gray-400 mb-2 rounded-md w-[50%] px-2
}

input:focus,
textarea:focus {
    @apply border-teal-800
}

select {
    @apply border border-gray-400 mb-2 rounded-md px-2 w-max
}

h1 {
    @apply text-teal-800 mb-2 text-2xl font-bold
}

label {
    @apply text-teal-800
}

.btn-primary {
    @apply bg-primaryHover text-white px-4 py-1 rounded-md w-min my-2
}

.btn-primary:hover {
    @apply bg-primary text-gray-900
}

table.basic {
    @apply w-[70%] my-3
}

table.basic thead tr td {
    @apply bg-teal-800 text-white px-2 py-1
}

table.basic tr td {
    @apply border border-gray-400 px-2 py-1
}

.default {
    @apply bg-gray-400 text-black px-2 py-1 rounded-md inline-flex mx-1 transition-all duration-200 items-center gap-1
}

.default:hover {
    @apply bg-gray-700 text-white
}

.red {
    @apply border border-red-500 text-black px-2 py-1 rounded-md inline-flex mx-1 transition-all duration-200 items-center gap-1
}

.red:hover {
    @apply border-red-600 bg-red-500 text-white
}